In [10]:
import pandas as pd
import numpy as np
df = pd.read_excel('MASTER FILE WITH NIFTY.xlsx')
df.set_index('Date',inplace=True)
display(df)
returns = df.pct_change()
cov = returns.cov()
var = returns['NIFTY'].var()
print(var)

,NIFTY,AUROPHARMA,GLAXO,GLENMARK,ZYDUSLIFE,WIPRO,TECHM,BSOFT,HCLTECH,SUPRAJIT,...,JAMNAAUTO,MAHSCOOTER,TCI,SCI,AEGISCHEM,GPPL,NCC,KNRCON,LT,KALPATPOWR
Date,,,,,,,,,,,,,,,,,,,,,
2012-10-01,5718.7998,72.175005,1001.575,417.70001,170.059998,143.512503,256.387500,68.874250,145.287505,28.350000,...,11.800,360.00000,42.744128,59.299999,15.945000,51.900002,48.549999,11.36000,714.091745,85.300003
2012-10-03,5731.2500,73.225000,990.150,419.45001,171.800000,142.593750,248.550003,68.901800,147.837495,28.600000,...,11.860,356.64999,45.250522,59.700001,15.464999,51.849998,49.599998,11.58500,715.136194,87.199997
2012-10-04,5787.6001,72.350000,976.050,407.00000,166.069996,143.587496,242.949997,67.634514,147.262497,28.000000,...,11.805,368.25000,44.369897,59.200001,16.239999,53.000000,51.700001,11.79000,726.247349,88.900002
2012-10-05,5746.9502,69.300005,971.525,399.95001,163.880004,139.968750,236.699997,65.816234,143.387497,27.549999,...,11.720,361.00000,44.031195,57.799999,17.235001,52.000000,51.750000,11.64000,733.291822,88.599998
2012-10-08,5676.0000,71.725000,968.325,407.00000,168.000000,137.024996,235.012497,66.863122,139.687500,27.100000,...,11.505,361.00000,43.590882,57.299999,18.180000,51.549999,53.000000,11.48000,709.225059,89.650002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-24,17730.7500,524.500000,1373.350,397.89999,413.100010,384.700010,1048.150000,282.149990,1031.600000,330.350010,...,111.650,5229.54980,762.599980,125.300000,299.350010,83.150002,72.150002,212.05000,1909.750000,463.649990
2022-10-25,17656.3500,519.900020,1363.650,401.60001,417.399990,384.649990,1082.500000,274.100010,1026.500000,321.700010,...,109.500,5243.85010,744.200010,122.800000,299.399990,83.199997,73.449997,218.89999,1949.100000,457.700010
2022-10-27,17736.9490,529.549990,1365.750,399.64999,433.600010,382.649990,1075.850000,270.200010,1032.050000,323.549990,...,110.500,5260.54980,733.849980,126.900000,300.250000,83.849998,73.800003,222.39999,1964.050000,461.899990
2022-10-28,17786.8010,522.250000,1374.850,399.70001,430.000000,383.250000,1048.950000,263.049990,1030.000000,320.299990,...,109.300,5220.85010,749.750000,127.650000,317.500000,84.750000,74.050003,220.75000,1975.050000,475.299990
2022-10-31,18012.1990,538.150020,1377.350,404.54999,433.350010,386.549990,1063.400000,270.850010,1041.150000,325.100010,...,112.600,5258.04980,714.700010,130.000000,310.899990,86.000000,74.650002,222.60001,2023.100000,475.350010

0.00011651169942013383

In [11]:
beta = (round(cov.loc['NIFTY']/var,2))
beta = beta.to_frame(name="Beta")
# beta.to_excel('Beta.xlsx')
display(beta)

            Beta
NIFTY       1.00
AUROPHARMA  0.94
GLAXO       0.32
GLENMARK    0.72
ZYDUSLIFE   0.56
WIPRO       0.61
TECHM       0.72
BSOFT       1.00
HCLTECH     0.65
SUPRAJIT    0.69
BOSCHLTD    0.86
JAMNAAUTO   0.94
MAHSCOOTER  0.88
TCI         0.90
SCI         1.08
AEGISCHEM   0.85
GPPL        0.65
NCC         1.60
KNRCON      0.68
LT          1.16
KALPATPOWR  0.84

In [12]:
print('Returns Annually')
annualreturns = (round(returns.mean()*252*100,2))
annualreturns = annualreturns.to_frame(name="Annual Returns (%)")
# annualreturns.to_excel('Average Annual Returns.xlsx')
display(annualreturns)

Returns Annually

            Annual Returns (%)
NIFTY                    13.10
AUROPHARMA               28.28
GLAXO                     5.97
GLENMARK                  5.99
ZYDUSLIFE                14.53
WIPRO                    13.49
TECHM                    18.88
BSOFT                    23.58
HCLTECH                  23.89
SUPRAJIT                 32.40
BOSCHLTD                 10.74
JAMNAAUTO                33.50
MAHSCOOTER               34.45
TCI                      39.25
SCI                      18.80
AEGISCHEM                40.98
GPPL                     12.14
NCC                      20.12
KNRCON                   39.83
LT                       14.61
KALPATPOWR               24.92

In [13]:
std = round(returns.std()*np.sqrt(252)*100,2)
std = std.to_frame(name='Annual Standard Deviation (%)')
# std.to_excel('Annual Standard Deviation.xlsx')
display(std)

            Annual Standard Deviation (%)
NIFTY                               17.14
AUROPHARMA                          39.89
GLAXO                               23.57
GLENMARK                            35.62
ZYDUSLIFE                           31.95
WIPRO                               26.33
TECHM                               29.83
BSOFT                               43.99
HCLTECH                             28.08
SUPRAJIT                            39.43
BOSCHLTD                            29.82
JAMNAAUTO                           46.54
MAHSCOOTER                          38.45
TCI                                 46.67
SCI                                 46.91
AEGISCHEM                           47.08
GPPL                                37.66
NCC                                 56.14
KNRCON                              44.32
LT                                  28.54
KALPATPOWR                          39.01